:root {
  --primary: #243cff;
  --secondary: #26313a;
  --bg: #fff;
  --text: #9ba2b2;
}
body {
  background: linear-gradient(
    -45deg,
    rgba(238, 119, 82, 0.2),
    rgba(231, 60, 126, 0.2),
    rgba(35, 166, 213, 0.2),
    rgba(35, 213, 171, 0.2)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.table {
  text-align: center;
}

.table-img {
  height: 50px;
}
