.loader {
  display: none;
}

.display-none {
  display: none;
}

.loader-active {
  position: absolute;
  left: 48vw;
  top: 55vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loader .bar {
  width: 10px;
  height: 5px;
  background: #10c15c;
  margin: 2px;
  animation: bar 1s infinite linear;
}
.loader .bar:nth-child(1) {
  animation-delay: 0s;
}
.loader .bar:nth-child(2) {
  animation-delay: 0.25s;
}
.loader .bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes bar {
  0% {
    transform: scaleY(1) scaleX(0.5);
  }
  50% {
    transform: scaleY(10) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(0.5);
  }
}

#uploadInput {
  visibility: hidden;
}

#uploadProxy {
  cursor: pointer;
  padding: 15px 50px;
  border: 1px solid #ccc;
  margin-right: 20px;
}

#uploadBtn {
  background: var(--primary);
  border: 1px solid #ccc;
  padding: 15px 200px;
  margin-right: 20px;
  background: var(--primary);
  color: #ffffff;
  padding: 0.5rem 1rem;
  height: 56px;
  border-radius: 7px;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  letter-spacing: 1.25px;
  font-size: 14px;
}
.round:hover {
}

#uploadBtn:hover {
  color: white;
  opacity: 0.9;
}
